.login {
  min-height: 100dvh;
  max-width: 100dvw;

  background-color: rgb(238, 242, 246);
  position: relative;
  /* font-size: 1.6rem; */
}

.login_box {
  width: 90%;
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo_invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.logo img {
  width: 150px;
}

.invitation {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login_heading_primary {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(103, 58, 183);
}

.login_heading_secondary {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.66;
  color: rgb(105, 117, 134);
}

/*  */

.input_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0.5rem;
}

.input_container input {
  font-weight: 500;
  /* font-size: 1.6rem; */
  background-color: rgb(248, 250, 252);
}

.input {
  /* font-size: 1.4rem; */
  font-weight: 400;
  line-height: 1.4375em;
  color: rgb(54, 65, 82);
  cursor: text;
  align-items: center;
  background: rgb(248, 250, 252);
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 8px;
}

.input_functions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.875rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input_functions span {
  font-weight: 500;
  line-height: 1.75;
  color: rgb(103, 58, 183);
  cursor: pointer;
}

.login_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.signin {
  width: 100%;
  background-color: rgb(103, 58, 183) !important;
  /* font-size: 1.6rem !important; */
  padding: 8px 22px !important;
}

.login_actions span {
  /* font-size: 1, 4rem; */
  font-weight: 500;
  color: rgb(18, 25, 38);
  line-height: 1.75;
  cursor: pointer;
}
